= form_for @user do |f|
  = f.text_field :username, placeholder: "User name"
  %br
  = f.text_field :email, placeholder: "johndoe@example.com"
  %br
  = f.text_field :petname, placeholder: "Pet name"
  = f.password_field :password, placeholder: "Password"
  %br
  = f.submit :src => 'http://i.imgur.com/z04PWTP.png', :type => 'image', :height => '45%', :width => '45%', :class => 'button'
  / %input{alt: "Submit", height: "45%", src: "http://i.imgur.com/iRRFxmB.png", type: "image", width: "45%"}/
/ = link_to "sign in with google", "google_login"
