<script type="text/javascript">
	$(function(){
	    var x = 0;
	    setInterval(function(){
	        x+=1;
	        $('.container').css('background-position', x + 'px 0');
	    },30);

	    eventListeners();
	})

	function eventListeners(){
		$('#login').on('click touch', showClipModalLogin);
		$('#signup').on('click touch', showClipModalSignUp)
		$('.close-new-clip').on('click touch', closeClipModal);
	};

	function showClipModalLogin() {
		$('#login').css('margin-top','10px');
		$('.modal_login').fadeIn();
	}

	function showClipModalSignUp() {
		$('.modal_signup').fadeIn();
	}

	function closeClipModal() {
		$('.modal_login').fadeOut();
		$('.modal_signup').fadeOut();
	}
</script>

<div class='container'>
	<div id="logo">
		<center>
			<h1>Little<br>
				Pooper</h1>
		</center>
	</div>
	<center>
	<%= image_tag('login.png', alt: "Login", width: "40%", height: "40%", class: 'button', id:'login')%>
	<%= image_tag('signup.png', alt: "Sign Up", width: "40%", height: "40%", class: 'button', id: 'signup')%>

	</center>
	<center>
	<%= image_tag('walking_dragon.gif', alt:"Walking Dragon", class: 'dragon')%>
	</center>
	<div class="modal_login">
		<div class='clip-form'>
			<div class="content" >
				<center><div class="login forms" >
					<%= image_tag('x_button.png', class: 'close-new-clip', width: "18%", height: "10%")%><br>
					<center><%= link_to image_tag("google_signin.png", class:"google_signin"), :action => 'google_login', :controller => 'sessions'%></center>
					<p class='or'>or</p>
					<center><%= render :partial => 'login'%></center>
				</div></center>
			</div>
		</div>
	</div>

	<div class="modal_signup">
		<div class='clip-form'>
			<div class="content" >
				<center><div class="signup forms">
					<%= image_tag('x_button.png', class: 'close-new-clip', width: "18%", height: "10%")%><br>
					<center><%= link_to image_tag("google_signup.png", class:"google_signin"), :action => 'google_login', :controller => 'sessions'%></center>
					<p class='or'>or</p>
					<center><%= render :partial => 'new'%></center>
				</div></center>
			</div>
		</div>
	</div>

</div>