= form_for @user do |f|
  = f.label :username
  = f.text_field :username, placeholder: "User name"
  = f.label :email
  = f.text_field :email, placeholder: "johndoe@example.com"
  = f.label :password
  = f.password_field :password
  = f.submit
= link_to "sign in with google", "google_login"
