- content_for :head do
  = javascript_include_tag "scenes/Boot.js"
  = javascript_include_tag "scenes/Preloader.js"
  = javascript_include_tag "scenes/BugGame.js"
  = javascript_include_tag "scenes/FlappyHighScores.js"
  = javascript_include_tag "scenes/FlappyDragon.js"
  = javascript_include_tag "scenes/HomePage.js"
  = javascript_include_tag "hammer.min.js"
  = javascript_include_tag "scenes/Egg.js"

%div#game-container
  = javascript_include_tag "gameinitializer.js"
