- content_for :head do
  = javascript_include_tag "scenes/Boot.js" 
  = javascript_include_tag "scenes/MainMenu.js" 
  / = javascript_include_tag "scenes/Preloader.js" 
  = javascript_include_tag "scenes/Stomper.js"
  = javascript_include_tag "scenes/HomePage.js"
  = javascript_include_tag "hammer.min.js"
  = javascript_include_tag "scenes/Egg.js"

= javascript_include_tag "gameinitializer.js"
  