<!DOCTYPE html>
<html>
<head>
  <title>LittlePooper</title>
  <%= yield :head %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<div class="modal_login">
		<div class='clip-form'>
			<div class="content" >

				<center><div class="login forms" >
					<%= image_tag('x_button.png', class: 'close-new-clip', size:'40x40')%><br>
					<%= link_to image_tag("google_signin.png"), :action => 'google_login', :controller => 'sessions'%>
					<p class='or'>or</p>
					<%= render :partial => 'new'%>
				</div></center>
			</div>
		</div>
	</div>

	<div class="modal_signup">
		<div class='clip-form'>
			<div class="content" >
				

				<center><div class="signup forms">
					<%= image_tag('x_button.png', class: 'close-new-clip', size:'40x40')%><br>
					<%= link_to image_tag("google_signin.png"), :action => 'google_login', :controller => 'sessions'%>
				</div></center>
			</div>
		</div>
	</div>
</body>
</html>
