<!DOCTYPE html>
<html>
<head>
  <title>LittlePooper</title>
  <%= yield :head %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<div class="modal">
		<div class='clip-form'>
			<div class="content">
				<h1></h1>
				<button class='close-new-clip'>close</button>
			</div>
		</div>

	</div>
</body>
</html>
